<div id="mf" data-measurement-target="form">
 <input type="text"
         name="product[title]"
         placeholder="Title"
         data-measurement-target="title">

  <input type="number"
         name="product[dimension]"
         placeholder="Dimension en cm"
         step="0.01" min="0"
         data-measurement-target="dimension">

  <button type="button"  id="create">Create dimension</button>


</div>
